.SkillCard {
  padding: 16px;
  padding-bottom: 16px;
  background-color: #242424;
  margin-bottom: 4px;
  border-radius: 4px;
}

.title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
}

.handle-button {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform ease 150ms;
  background-color: #4E4E4E;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &:not(:disabled) {
    &:hover {
      .handle-icon {
        transform: scale(1.12);
        &--fast-forward {
          transform: scale(1.12) rotate(-180deg);
        }
      }
    }
  }

  &:active {
    transform: scale(0.9);
  }
}

.handle-icon {
  transition: all ease 250ms;
  height: 12px;
  fill: transparent;

  &--fast-forward {
    transform: rotate(-180deg);
  }
}

.head {
  position: relative;
  margin-bottom: 16px;
}

.remove-card-button {
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1;
}

.handlers-and-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  margin-bottom: 12px;
}

.time-left {
  font-size: 10px;
}

.remove-card-icon {
  fill: #EFEFEF;
  width: 9px;
  height: 9px;
}
