.SkillCard {
  padding: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid lighten(#242424, 8);
}

.title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
}

.handle-button {
  position: relative;
  cursor: pointer;
  margin-top: 16px;
  border-radius: 50%;
  border: none;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform ease 150ms;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &:not(:disabled) {
    &:hover {
      .handle-icon {
        transform: scale(1.12);
      }
    }
  }

  &:active {
    transform: scale(0.9);
  }
}

.handle-icon {
  height: 12px;
  fill: #383838;
  transition: transform ease 250ms;
}
