.SkillCardsList {
}

.add-card-button {
  width: 100%;
  display: block;
  background-color: transparent;
  color: white;
  border: 1px solid #4E4E4E;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4E4E4E;
}
